<!DOCTYPE html>
<html lang="uz">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Register</title>

  
</head>
<body>
  <div class="card">
    <h1>Ro‘yxatdan o‘tish</h1>
    <p>Hisob yaratish uchun ma’lumotlaringizni kiriting</p>

    <form action="{% url 'accounts:register' %}" method="post" novalidate>
      {% csrf_token %}

      {{ form }}

      <button class="btn" type="submit">Submit</button>
    </form>
  </div>
</body>
</html>