<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bosh sahifa</title>
    <style>
        a{
            text-decoration: none;
            font-size: 25px;
            margin-left: 15px;
            color: red;
        }
        h1{
            color: black;
            text-transform: uppercase;
        }
        h1:hover{
            color: red;
            margin-left: 15px;
            text-transform: uppercase;
            cursor: pointer;
        }
    </style>
</head>
<body>
    <h1>Bosh sahifaga Xush kelibsiz</h1>
    {% for message in messages %}
        {{ message }}
    {% endfor %}
    <br>
    <a href="{% url 'accounts:profile' %}">Profile</a>
    <a href="{% url 'accounts:register' %}">Signup</a>
    {% if request.user.is_authenticated %}
        <a href="{% url 'accounts:logout' %}">Logout</a>
    {% else %}
        <a href="{% url 'accounts:login' %}">Signin</a>
    {% endif %} 
</body>
</html>